body {
    background-image: url('../img/bg.jpg');
    background-color: rgba(47, 23, 15, 0.9);
}

.banner-text {
    text-align: center;
    color: yellow;
    margin-top: 10pt;
}

.banner-text h1 {
    font-size: 32px; 
    font-family: Arial;
}

.banner-text h2 {
    font-size: 16px; 
    color: orange;
    font-family: Arial; 
    font-weight: bold;
    margin-top: 50pt;
}

.bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24pt;
    font-weight: bold;
    justify-content: center;
    margin-top: 50px;
}

.main-menu a.active {
    color: greenyellow;
}

.header-text {
    margin-bottom: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #000;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 100px 10px 100px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: blue;
    color: yellow;
}

.text-overlay {
    position: relatived;
    transform: translate(135%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    width: 500px;
    height: 200px;
    bottom: -50%;
    margin-bottom: -50px; /* Half the height of the overlay */    
}

.footer-text {
    font-size: 18pt;
    text-align: center;
    color: yellow;
}

.text-copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.middle-ribbon {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    height: 500px;
    background-color: orange;
    padding: 10px;
    color: white;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}